@model IEnumerable<MedGearMart.Models.DomainModel.Gear>

@{
    ViewData["Title"] = "Product List";
    var category = Context.Request.Query["category"].ToString();
    var search = Context.Request.Query["search"].ToString();
}

<h1>Product List</h1>


<!-- Search Form -->
<form method="get" asp-action="Index">
    <div class="row">
        <div class="col-md-6 mb-2">
            <input type="text" name="search" class="form-control" placeholder="Search by product name" value="@search" />
        </div>
        <div class="col-md-4 mb-2">
            <select name="category" class="form-control">
                <option value="" selected="@(category=="")">All Categories</option>
                @foreach (var categoryItem in ViewBag.Categories as List<SelectListItem>)
                { <option value="@categoryItem.Value" selected="@(categoryItem.Value == category)">
                        @categoryItem.Text
                    </option>
                }
            </select>
        </div>
        <div class="col-md-1 mb-2">
            <button type="submit" class="btn btn-primary w-100">Search</button>

        </div>
        <div class="col-md-1 mb-2">
            <a role="button" class="btn btn-primary w-100" asp-action="Index" asp-controller="gears">Clear</a>
        </div>
    </div>
</form>





<!-- Product List -->
<div class="row mt-4">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/imgs/@item.ImageUrl" class="card-img-top" alt="@item.GearName" style="max-height: 200px; object-fit: cover;" />
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Details" asp-route-id="@item.GearId">@item.GearName</a></h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"><strong>Price:</strong> @item.Price.ToString("C")</p>
                    <p class="card-text"><strong>Stock:</strong> @item.Stock</p>
                    <p class="card-text"><strong>Category:</strong> @item.Category?.CategoryName</p>
                    <form asp-action="AddToCart" asp-route-id="@item.GearId" asp-controller="Cart" method="post">
                        <button type="submit" class="btn btn-primary">Add To Cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
